# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.env/
ENV/
.venv/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Misc
*.sqlite3
*.db
*.bak
*.swp
*.swo

# Node
node_modules/
